*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#img{
    width: 150px;
    height: 150px;
    margin: 10px 10px;
    border-radius: 70px;
}
#btn{
    width: 150px;
    height: 40px;
}
footer{
    background-color: yellow;
    width: 98%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    
}
footer a{
    text-decoration: none;
}