#navbar{
    width: 100%;
    text-align: center;
    background-color: #c7081f;
    color: white;
}
.firstheading{
    width: 100%;
    text-align: center;

}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
    margin: 10px 10px;
}
.buttons{
    text-align: center;
    margin-bottom: 12rem;
}
.inputs{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.component{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 5px 5px;
}
input{
    padding: 20px 10px;
    margin: 10px 2px;
    background-color: antiquewhite;
    border: none;
    border-radius: 20px;
}
.btn{
    text-align: center;
    padding: 15px 15px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: red;
    border-radius:20px;
    cursor: pointer;
}
@media (min-width: 200px) and (max-width: 600px){
    .inputs{
        flex-direction: column;

    }
}