*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#img{
    width: 150px;
    height: 150px;
}
#btn{
    width: 150px;
    height: 40px;
    
}
